<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link crossorigin="anonymous" media="all"
        integrity="sha512-1KkMNn8M/al/dtzBLupRwkIOgnA9MWkm8oxS+solP87jByEvY/g4BmoxLihRogKcX1obPnf4Yp7dI0ZTWO+ljg=="
        rel="stylesheet" href="https://github.githubassets.com/assets/dark-d4a90c367f0c.css"/>

  <link crossorigin="anonymous" media="all"
        integrity="sha512-Zl0JBY0YhK6Oj7VqevEvUpzx9Ul3Sr09pIuarzaSkw5sV5vON40vgM9iwBvOKhZSnFmFb+9i9ie+IremL2qc7w=="
        rel="stylesheet" href="https://github.githubassets.com/assets/primer-665d09058d18.css"/>
  <link crossorigin="anonymous" media="all"
        integrity="sha512-70eqNxCylN5NZBpkXmCAACYDfcIjsmZkHUeuW4G7eN6l83VpD4aceELPIHPbqR0el7doWT/ffKKwnqWlJ56tmw=="
        rel="stylesheet" href="https://github.githubassets.com/assets/global-ef47aa3710b2.css"/>
  <link crossorigin="anonymous" media="all"
        integrity="sha512-/uFXblvSX+c7XWJtxcsRArU0ijMp908BQQfQhqxtdWEgDaoARBewXfmkigufl0c4eY6j6vcra6qgoup4Ad9RNg=="
        rel="stylesheet" href="https://github.githubassets.com/assets/github-fee1576e5bd2.css"/>
  <link crossorigin="anonymous" media="all"
        integrity="sha512-PXtwH8brj9qH7LskWA0iAMLw4Wx3RXN7txSxjlqdzQEalZKu3UcsQ+ajfHJMDkYDA2iWL1FIrf2zyLflA5Xu7A=="
        rel="stylesheet" href="https://github.githubassets.com/assets/code-3d7b701fc6eb.css"/>
</head>
