<head>
  <meta charset="utf-8">
  {% if page.title %}
    <title>{{ page.title }} - {{ site.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}
  <meta name="description" content="{{ site.description }}">

  <!-- style -->
  <link media="all" rel="stylesheet" href="{{ '/assets/css/dark-d4a90c367f0c.css' | relative_url }}"/>
  <link media="all" rel="stylesheet" href="{{ '/assets/css/primer-665d09058d18.css' | relative_url }}"/>
  <link media="all" rel="stylesheet" href="{{ '/assets/css/global-ef47aa3710b2.css' | relative_url }}"/>
  <link media="all" rel="stylesheet" href="{{ '/assets/css/github-fee1576e5bd2.css' | relative_url }}"/>
  <link media="all" rel="stylesheet" href="{{ '/assets/css/code-3d7b701fc6eb.css' | relative_url }}"/>
</head>
