<div class="color-bg-subtle position-sticky top-0 z-1">
  <header id="section-header" class="Header container-xl px-3 px-md-4 px-lg-5 color-bg-subtle">
    <div class="Header-item mr-4"><a class="Header-link color-fg-default" href="{{ '/' | relative_url }}">{{ site.title }}</a></div>
    <div class="Header-item"><a class="Header-link {% if page.url == '/' %} active {% endif %}" href="{{ '/' | relative_url }}">Posts</a></div>
    <div class="Header-item"><a class="Header-link {% if page.url contains '/wiki/wsl' %} active {% endif %}" href="{{ '/wiki/wsl' | relative_url }}">WSL</a></div>
    <div class="Header-item"><a class="Header-link {% if page.url contains '/wiki/vim' %} active {% endif %}" href="{{ '/wiki/vim' | relative_url }}">vim</a></div>

    <div class="Header-item Header-item--full"></div>
    <div class="Header-item mr-2">
      <div class="Header-item"><a class="Header-link {% if page.url contains '/about' %} active {% endif %}" href="{{ '/about' | relative_url }}">About</a></div>
    </div>
    <div class="Header-item mr-0">
      <div class="Header-item"><input disabled placeholder="Search is not available" type="search" class="form-control Header-input"></div>
    </div>
  </header>
</div>

<style>
  #section-header .Header-item .active {
    padding-bottom: 2px;
    border-bottom: 1px solid #DDD;
  }
</style>
